@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --color-1: white;
    --color-2: #00F99F;
    --color-3:white;
    --bg-color: black;
    --bg-color-2:#1C1818;
    --font-1: 'JetBrains Mono', monospace, sans-serif;
    --font-2: 'Julius Sans One', sans-serif;
    --font-3: 'Kaushan Script', monospace
}

* {
    margin: 0;
    padding: 0;
    color: var(--bg-color);
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

marquee{
    font-family: var(--font-1);
}

header{
    background-image: url("assets/2D Assets/planets/earth.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: clamp(480px,97vw,700px);
    position: relative;
}

.box{
    height: 100%;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: var(--bg-color);
}

/* N    A   V   B   A   R */
.sun-icon {
    height: clamp(29px, 5vw, 90px);
}
.navbar {
    position: fixed;
    z-index: 2;
    top: 2vw;
    /* background-color: orange; */
    font-family: var(--font-1);
    width: 100vw;
    font-size: clamp(8px, 1.4vw, 1vw);
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
}

.navbar-item{
    transition: 0.5s;
    color: var(--color-1);
    list-style-type: none;
    margin: 3vw;
    letter-spacing: clamp(1px, 0.8vw, 13px);
}

.navbar-item:hover{
    color: var(--color-2);
    font-size: clamp(10px, 1.4vw, 35px);
    font-weight: 900;
}

.subitem-item{
    color: var(--bg-color);
}

/* H    E    A    D    I    N    G */

.heading{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    top: 35vh;
    left: 6vw;
}

.heading span{
    transition: 0.5s;
    color: var(--color-2);
    text-shadow: 7px 4px var(--bg-color);
}

.heading span:hover{
    color: var(--color-1);
}

.heading>:nth-child(1){
    position: relative;
    left: 6vw;
    font-family: var(--font-2);
    letter-spacing: 12vw;
    width: fit-content;
    font-size: clamp(30px,9vw,300px);
}

.heading>:nth-child(2){
    position: relative;
    align-self: center;
    /* margin-left: 34vw; */
    font-size: clamp(20px,3vw,100px);
    font-family: var(--font-3);
}

.heading>:nth-child(2):hover{
    font-size: 5vw;
}


/* A    T   M   O   S   P   H   E   R   E */


.atmosphere{
    padding-top: 355px;
    margin-top: 100px;
    display: flex;
}

.atmosphere-text{
    display: flex;
    flex-direction: column;
    width: 55vw;
}

.atmosphere-text>span:nth-child(2):hover{
    transition: 0.5s;
    color: var(--color-2);
}

.atmosphere-text>span:nth-child(1){
    font-family: var(--font-1);
    color: var(--color-2);
    font-size: clamp(15px,3vw,100px);
    letter-spacing: clamp(3px,4vw,80px);
    font-weight: 900;
    /* margin: auto; */
}

.atmosphere-text>span:nth-child(2)>span{
    color: var(--color-1);
}

.atmosphere-text>span:nth-child(2){
    color: var(--color-1);
    padding-top: 30px;
    font-family: var(--font-1);
    font-size: clamp(10px,1.3vw,100px);
}


.atmosphere-image>img:nth-child(1){
    position: absolute;
    right: -10vw;
    height: 52vw;
}

.atmosphere-image>img:nth-child(2){
    position: absolute;
    right: -10vw;
    height: 50vw;
}

.fact-box{
    transition: 0.5s;
    margin-top: 120px;
    padding: 14px;
    width: 44vw;
    border-radius: 37px;
    background-color: var(--color-2);
}

.fact-box:hover , .fact-box>span:hover{
    background-color: var(--bg-color-2);
}

.fact-box span{
    font-family: var(--font-1);
    color: var(--color-1);  
}

.top{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.top>img{
    height: 5vw;
}

.top>span{
    /* font-family: var(--font-1); */
    font-weight: 900;
    font-size: clamp(13px,2vw,100px);
    letter-spacing: 2vw;
    margin: auto;
}

.fact-box>span:nth-child(2){
    font-size: clamp(10px,1.2vw,40px);
    
}
/* G    E   O   L   O   G   Y */

.geology{
    flex-direction: row-reverse;
}

.geology-image>img:nth-child(1){
    position: absolute;
    left: -10vw;
    height: 52vw;
}

.geology-image>img:nth-child(2){
    position: absolute;
    left: -10vw;
    height: 50vw;
}

/* C    O   M   P   O   S   I   T   I   O   N */

.composition-text>span:nth-child(1){
    letter-spacing: clamp(3px,3.8vw,80px);
    font-size: clamp(10px,3vw,100px);   
}