:root{
    --bg-color1: ;
}

.fact-box{
    /* display: grid; */
    /* width: 30vw !important; */
    margin: 20px 10px !important;
}


.top>span{
    font-size: clamp(10px,1.6vw,100px) !important;
    letter-spacing: 1.3vw !important;
}

.planet{
    margin-right: 10px !important;
    background-color: black !important;
}

