/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --color-1: white;
    --color-2: #FFDE01;
    --bg-color: black;
    --bg-color-2:#1C1818;
    --font-1: 'JetBrains Mono', monospace, sans-serif;
    --font-2: 'Julius Sans One', sans-serif;
    --font-3: 'Kaushan Script', monospace
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

html{
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    /* height:2000px; */
}

a{
    text-decoration: none;
}

header{
    background-image: url("assets/2D Assets/bg images/solar system.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: clamp(480px,97vw,700px);
    position: relative;
}

.box{
    height: 100%;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
.sun-icon {
    height: clamp(29px, 5vw, 90px);
}
.navbar {
    position: fixed;
    z-index: 2;
    top: 2vw;
    /* background-color: orange; */
    font-family: var(--font-1);
    width: 100vw;
    font-size: clamp(10px, 1.4vw, 1vw);
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
}


.navbar-item{
    transition: 0.5s;
    list-style-type: none;
    margin: 3vw;
    letter-spacing: clamp(1px, 1.5vw, 13px);
}

.navbar-item:hover{
    color: var(--color-2);
    font-size: clamp(10px, 1.4vw, 35px);
    font-weight: 900;
}

marquee{
    font-family: var(--font-1);
}


.subitem-item{
    color: var(--bg-color);
}

.heading{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    top: 35vh;
    left: 6vw;
}

.heading span{
    transition: 0.5s;
    color: var(--color-2);
    text-shadow: 7px 4px var(--bg-color);
}

.heading span:hover{
    color: var(--color-1);
}

.heading>:nth-child(1){
    font-family: var(--font-2);
    letter-spacing: 2.2vw;
    width: fit-content;
    font-size: clamp(30px,9vw,300px);
}

.heading>:nth-child(2){
    align-self: center;
    font-size: clamp(20px,3vw,100px);
    font-family: var(--font-3);
}

.heading>:nth-child(2):hover{
    font-size: 5vw;
}

.scroll-btn{
    width: fit-content;
    background-color: var(--color-2);
    height: fit-content;
    padding: 1vw;
    border-radius: 90px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scroll-btn>img{
    height: 8vh;
}

.about-box{
    display: flex;
    position: relative;
    padding-top: 100px;
}

.about-contentbox{
    display: flex;
    margin-left: auto;
    background-color: var(--color-2);
    flex-direction: column;
    width: 57vw;
    font-size: clamp(15px,1.7vw,420px);
    border-radius: 36px;
    align-items: center;
}

.about-contentbox span{
    color: var(--bg-color);
    font-family: var(--font-1);
    margin-top: 20px;
    margin-bottom: 3px;
}

.about-contentbox>span:nth-child(1){
    letter-spacing: 3vw;
    font-size: clamp(20px,3vw,200px);
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 3vw;
}

.about-contentbox>span:nth-child(2){
    position: relative;
    line-height: clamp(17px,3.5vw,100px);
    font-size: clamp(13px,1.9vw,100px);
    font-weight: 600;
    margin: 10px;
    top: clamp(0,1%,500px);
}

.about-imagebox{
    display: flex;
    background-color: var(--color-2);
    height: clamp(200px,30vw,1000px);
    width: clamp(130px,25vw,100vw);
    margin: auto;
}

.about-imagebox img{
    position: relative;
    height: 90%;
    width: 90%; 
    margin: auto;
}

.planets{
    display: flex;
    margin-top: 100px;
    background-color: var(--bg-color-2);
    font-family: var(--font-1);
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.planets>span:nth-child(1){
    font-weight: 900;
    font-size: clamp(30px,4vw,80px);
    letter-spacing: 6vw;
}

.planets-grid{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 33vw 33vw 33vw;
}

.planet-box{
    margin: auto;
    margin-bottom: 50px;
    width:16vw;
    height: 17vw;
    padding: 20px;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.planet-box>a>img{
    transition: 0.5s;
    margin: auto;
    position: relative;
    height: 16vw;
    /* width: 15vw; */
}

.planet-box>a>img:hover{
    height: 100px;
}

.planet-box>a{
    margin: auto;
}

.planet-box>a>span:hover{
    color: var(--color-2);
    font-weight: 900;
}

.planet-box>a>span{
    transition: 0.5s;
}